body{
    background-image: url("../img/tlo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
#summaryComp{
    border-top:5px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 5px;
}
table#summaryComp{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.3);
}
table#summaryComp td{
    text-align: center;
}
table#summaryComp td:nth-child(1){
    width: 10%;
}
table#summaryComp td:nth-child(2){
    width: 80%;
    font-size: 1.22em;
}
table#summaryComp td:nth-child(3){
    width: 10%;
}


table#summaryComp,
table#summaryComp td
{
    border: 1px solid whitesmoke;
    border-collapse: collapse;

}
#summaryComp img {
    width: 100px;
    height: auto;
}

#sumAll{
    position: absolute;
    top: 5px;
    right: 5px;
}
